<?xml version="1.0"?>
<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
        <param name="serial_name" type="string" value="/dev/ttyTHS1"/>
        <param name="baud_rate" type="int" value="230400"/>
        <param name="app_id" type="int" value="1045496"/>
        <param name="app_version" type="int" value="1"/>
        <param name="align_time" type="bool" value="false"/>
        <param name="enc_key" type="string" value="167c1024d67569863446fa7f4ea66fad1d3e88286a4e836c420476310525fa73"/>
        <param name="use_broadcast" type="bool" value="false"/>
    </node>
    <node pkg="dji_sdk_tf" type="dji_sdk_tf_node" name="dji_sdk_tf_node" output="screen" />
</launch>
